<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.topic.mapper.TopicMapper">
    <resultMap id="Topic" type="com.example.topic.domain.Topic">
        <id property="id" column="id"/>
        <result property="picUrlList" column="pic_url_list"/>
        <result property="content" column="content"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="beDeleted" column="is_deleted"/>
    </resultMap>
    <select id="list" resultMap="Topic">
        select  id,
                pic_url_list,
                content
                from oomall_topic where is_deleted=0
    </select>
    <select id="detail" parameterType="integer" resultMap="Topic">
        select  id,
                pic_url_list,
                content
                from oomall_topic where id=#{id} and is_deleted=0
    </select>
    <insert id="create" parameterType="com.example.topic.domain.TopicPo" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into oomall_topic(
            gmt_create,
            gmt_modified,
            is_deleted,
            pic_url_list,
            content
        )values(
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP,
            0,
            #{picUrlList},
            #{content}
        )
    </insert>
    <update id="update" parameterType="com.example.topic.domain.TopicPo">
        update oomall_topic
        set gmt_modified=CURRENT_TIMESTAMP,
            pic_url_list=#{picUrlList},
            content=#{content}
        where id=#{id}
    </update>
    <update id="delete">
        update oomall_topic
        set is_deleted = 1,
            gmt_modified = CURRENT_TIMESTAMP
        where id=#{id} and is_deleted=0
    </update>
    <select id="beExist" resultMap="Topic" parameterType="com.example.topic.domain.TopicPo">
        select  id,
                pic_url_list,
                content
        from    oomall_topic
        where   pic_url_list = #{picUrlList}
        and     content = #{content}
        and     is_deleted = 0
    </select>
</mapper>